<section>
  <h1>Contact</h1>
  <p>Email: 
  <script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'l'+'t'+'o'+'&'+'#'+'5'+'8'+';'+'h'+'a'+'r'+'&'+'#'+
  '1'+'0'+'9'+';'+'a'+'n'+'y'+'%'+'4'+'&'+'#'+'4'+'8'+';'+'w'+'i'+'s'+'c'+'%'+'2'+'E'+'%'+'6'+'5'+'&'+
  '#'+'3'+'7'+';'+'6'+'4'+'%'+'&'+'#'+'5'+'5'+';'+'5'+"'"+'>'+'h'+'a'+'&'+'#'+'1'+'1'+'4'+';'+'m'+'a'+
  '&'+'#'+'1'+'1'+'0'+';'+'&'+'#'+'1'+'2'+'1'+';'+'&'+'#'+'6'+'4'+';'+'w'+'&'+'#'+'1'+'0'+'5'+';'+'&'+
  '#'+'1'+'1'+'5'+';'+'c'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'1'+'0'+'1'+';'+'d'+'u'+'<'+'/'+'a'+'>');</script>
  <noscript>[Turn on JavaScript to see the email address]</noscript><br>  
  
  Twitter: <a href="http://twitter.com/zacharmany">@zacharmany</a></p>
</section>
